<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>LiveGit</title>
<meta name="viewport" content="width=device-width">

{{#if includeMetaDescription}}
    <meta name="description" content="LiveGit loads raw files directly from GitHub into a Live HTML Editor.">
{{/if}}

<link rel="stylesheet" href="/js/codemirror/codemirror.css">
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml.js"></script>
<script src="/js/codemirror/mode/javascript.js"></script>
<script src="/js/codemirror/mode/css.js"></script>
<script src="/js/codemirror/mode/htmlmixed.js"></script>
<script src="/js/rawinflate.js"></script>
<script src="/js/rawdeflate.js"></script>
<script src="/js/esprima.js"></script>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans+Mono:400">
<link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.4.2/pure-min.css">
<link rel="stylesheet" href="/css/rawgit.css">
<link rel="stylesheet" href="/css/htmleditor.css">
<link rel="icon" href="/img/sushi.png">

        {{{body}}}
</html>
