<p class="hero">
<strong>LiveGit</strong> (<a href="https://github.com/mrdoob/htmleditor">htmleditor</a> + <a href="https://github.com/rgrove/rawgit">rawgit</a>) loads HTML pages directly from GitHub and loads them into a Live Editor.
</p>

<div class="pure-g-r url-helper">
    <div class="pure-u-1">
        <p id="url-form">
            <label for="url" class="offscreen">Raw GitHub URL:</label>
            <input id="url" class="url" type="url" placeholder="Paste a GitHub raw file or gist URL here." autofocus>
        </p>
    </div>

    <div class="pure-u-1">
        <h2>Live Editor</h2>

        <p>
        <input id="url-dev" class="url" placeholder="https://livegit.herokuapp.com/user/repo/branch/file.livegit" readonly>
        </p>

    </div>

</div>

<script src="/js/url-formatter.js"></script>
